In [1]:
import json
import pandas as pd
import folium
from geopy.distance import geodesic

### Para obtener las distancias se ha realizado una consulta a la api de [OpenStreetMap](https://overpass-turbo.eu/)

<div style="text-align: center;">
  <a href="https://www.openstreetmap.org/#map=7/53.462/-8.240">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Openstreetmap_logo.svg/1024px-Openstreetmap_logo.svg.png" alt="OpenStreetMap" width="200" height="200">
  </a>
  <a href="https://overpass-turbo.eu/">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Overpass-turbo.svg/1024px-Overpass-turbo.svg.png" alt="Overpass Turbo" width="200" height="200">
  </a>
</div>

In [6]:
house = pd.read_csv('/TFM Mercado Inmobiliario - Kschool/Metodología de Modelado/9. Código y datasets/Barcelona/Datasets/result_barcelona_districs_zip_final.csv', sep = ";")

In [7]:
supermercado = pd.read_csv('/TFM Mercado Inmobiliario - Kschool/Metodología de Modelado/9. Código y datasets/Barcelona/Datasets/Distancia_servicios/Dataset_coordenadas_servicios/supermercados_bcn.csv', sep = ";")

In [32]:
supermercado.columns

Index(['Parque', 'longitude', 'latitude'], dtype='object')

In [8]:
nom = supermercado.columns[0]
nom_dist = nom + '_distancia'
nom_dist

'Supermercado_distancia'

In [34]:
house['longitude'].isna().sum()

np.int64(0)

In [9]:
supermercado = supermercado[supermercado['longitude'] >= 0]
supermercado = supermercado[supermercado['latitude'] >= 0]

In [ ]:
def obtener_estacion_mas_cercana(house_row, supermercado_df):
    if 'latitude' not in house_row or 'longitude' not in house_row:
        raise ValueError("La fila de la casa no tiene columnas 'latitude' o 'longitude'")

    house_coords = (house_row['latitude'], house_row['longitude'])

    supermercado_df[nom_dist] = supermercado_df.apply(lambda supermercado_row: 
                                              geodesic(house_coords, (supermercado_row['latitude'], supermercado_row['longitude'])).meters, 
                                              axis=1)

    closest_station_row = supermercado_df.loc[supermercado_df[nom_dist].idxmin()]

    estacion_cercana = closest_station_row[nom]
    distancia_minima = closest_station_row[nom_dist]

    return estacion_cercana, distancia_minima

supermercado[['longitude', 'latitude']] = supermercado[['longitude', 'latitude']].apply(pd.to_numeric, errors='coerce')

house[['latitude', 'longitude']] = house[['latitude', 'longitude']].apply(pd.to_numeric, errors='coerce')

house[[nom, nom_dist]] = house.apply(
    lambda row: pd.Series(obtener_estacion_mas_cercana(row, supermercado)), axis=1
)

Index(['Supermercado', 'latitude', 'longitude', 'Supermercado_distancia'], dtype='object')
      propertyCode                                          thumbnail  \
0         99117414  https://img4.idealista.com/blur/WEB_LISTING-M/...
1        101300670  https://img4.idealista.com/blur/WEB_LISTING-M/...
2        104772587  https://img4.idealista.com/blur/WEB_LISTING-M/...
3        100770574  https://img4.idealista.com/blur/WEB_LISTING-M/...
4        105932101  https://img4.idealista.com/blur/WEB_LISTING-M/...
...            ...                                                ...
8913     105882581  https://img4.idealista.com/blur/WEB_LISTING-M/...
8914      81411842  https://img4.idealista.com/blur/WEB_LISTING-M/...
8915     103461663  https://img4.idealista.com/blur/WEB_LISTING-M/...
8916      98964029  https://img4.idealista.com/blur/WEB_LISTING-M/...
8917     105093241  https://img4.idealista.com/blur/WEB_LISTING-M/...

     externalReference  numPhotos    floor       price propertyType operation  \
0             BCNP2854         22        1   1600000.0         flat      sale
1             BCNP5151         29        1   1580000.0         flat      sale
2             BCNP2636         45        4    980000.0    penthouse      sale
3             BCNP5175         23        1    870000.0         flat      sale
4             BCN53025         35        3    495000.0         flat      sale
...                ...        ...      ...         ...          ...       ...
8913           No data          2        7   5000000.0       duplex      sale
8914       CSM 163085V         29  No data   5600000.0       chalet      sale
8915       Casa Claver         36  No data   5900000.0       chalet      sale
8916          B07442BA         30  No data   7450000.0       chalet      sale
8917            KB1800          6  No data  16750000.0       chalet      sale

        size  exterior  ...  hasAirConditioning  hasBoxRoom hasGarden  \
0      114.0     False  ...                True     No data   No data
1      202.0      True  ...             No data     No data   No data
2      156.0      True  ...             No data     No data   No data
3      129.0      True  ...             No data     No data   No data
4       91.0      True  ...             No data     No data   No data
...      ...       ...  ...                 ...         ...       ...
8913   500.0      True  ...                True        True      True
8914  1000.0     False  ...               False        True      True
8915   560.0     False  ...                True        True      True
8916   900.0     False  ...               False       False     False
8917  1000.0     False  ...               False     No data      True

     zip_code size_category  \
0        8010    Very Large
1        8008   Extra Large
2        8007   Extra Large
3        8003    Very Large
4        8003         Large
...       ...           ...
8913     8034   Extra Large
8914     8034   Extra Large
8915     8017   Extra Large
8916     8017   Extra Large
8917     8017   Extra Large

                                    cleaned_description     cinema  \
0     impressive apartment sale 163m2 terrace locate...  Cinema 5D
1     sothebys international realty pleased present ...  Cinema 5D
2     four luxurious boutique apartment eixample spe...  Cinema 5D
3     exclusive property offer authentic characteris...  Cinema 5D
4     located emblematic born neighbourhood barcelon...  Cinema 5D
...                                                 ...        ...
8913  magnificent penthouse completely renovated sal...  Cinema 5D
8914  elegant mansion privileged location upper area...  Cinema 5D
8915  one home present casa claver unique opportunit...  Cinema 5D
8916  spectacular modern house located upper area ba...  Cinema 5D
8917  exclusive modernist villa luxury elegance ever...  Cinema 5D

     distancia_cinema Supermercado  Supermercado_distancia
0        5.819924e+06    Coaliment              100.775853
1        5.820797e+06         Suma              336.944901
2        5.820229e+06    Primaprix              153.472939
3        5.818939e+06      Covirán               61.496949
4        5.819331e+06      Charter               28.021051
...               ...          ...                     ...
8913     5.823346e+06       Condis                7.235334
8914     5.823888e+06  Supermercat              202.114149
8915     5.824449e+06  Supermercat              627.468401
8916     5.824810e+06  Supermercat             1330.701309
8917     5.824469e+06  Supermercat              677.639433

[8918 rows x 67 columns]

In [20]:
house[nom].value_counts()

Teatro
Auditori Barradas       670
Teatre Joventut         643
Robert Brillas          594
Blas Infante            405
Auditori                386
                       ...
Sala 3 Tete Montoliu      2
Sala Ars                  1
Barts                     1
Cal Ninyo                 1
Auditorium municipal      1
Name: count, Length: 84, dtype: int64

In [13]:
ultima = house.columns[-1]
penultima = house.columns[-2]

In [14]:
house = house[['propertyCode', penultima, ultima]]
house

      propertyCode Supermercado  Supermercado_distancia
0         99117414    Coaliment              100.775853
1        101300670         Suma              336.944901
2        104772587    Primaprix              153.472939
3        100770574      Covirán               61.496949
4        105932101      Charter               28.021051
...            ...          ...                     ...
8913     105882581       Condis                7.235334
8914      81411842  Supermercat              202.114149
8915     103461663  Supermercat              627.468401
8916      98964029  Supermercat             1330.701309
8917     105093241  Supermercat              677.639433

[8918 rows x 3 columns]

In [15]:
house.to_csv("/TFM Mercado Inmobiliario - Kschool/Metodología de Modelado/9. Código y datasets/Barcelona/Datasets/Distancia_servicios/Dataset_distancias/" + nom_dist + ".csv", index=False, sep=";")